.addon-guid {
    font-size: 0.8em;
    color: grey;
}

.label {
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.label-wrapper {
    padding-top: 1.2em !important;
}

.label a {
    color: white;
}

.anchor, .anchor:visited {
    color: lightgrey;
}
