<html>
<head>
    <meta charset="utf-8">
    <title>Are we e10s yet?</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>
  <body>
      <div class="callout">
          <h1>Are we e10s yet?</h1>
      </div>
      <div class="container">
        <p><a href="https://wiki.mozilla.org/Electrolysis">E10s</a> runs web related content in background child processes.</p>
        <h3>Are you a Firefox user?</h3>
          <p>Probably the best way to test if your add-ons work with e10s is to use the <a href="https://addons.mozilla.org/en-US/firefox/addon/add-on-compatibility-reporter/">Add-on Compatibility Reporter</a> which will
          tell you if your add-ons are multi-process compatible and let you tell the developer how well they work. See this <a href="https://blog.mozilla.org/addons/2016/09/07/help-make-add-ons-multiprocess-compatible-with-add-on-compatibility-reporter/">blog post</a> for more.
          </p>
        <h3>Are you an add-on developer?</h3>
          <p>Check out the compatibility reports (go to <a href="https://addons.mozilla.org/en-US/developers/addons">AMO developer hub</a> > <code>compatability</code>) for your add-on to see the reports that people have been sending. What follows on this page may be useful to you, but maybe not.</p>
        <h3>What is this page?</h3>
          <p>This page is primarily a report of the add-on status by combining reports from AMO (which are public) and Telemetry (which are not) to produce one list. Just because add-ons are listed
            or not listed here doesn't mean it gets special treatment.
        <h3>Here to test an add-on?</h3>
          <p>Please use the <a href="https://addons.mozilla.org/en-US/firefox/addon/add-on-compatibility-reporter/">Add-on Compatibility Reporter</a> as mentioned above.

        <h3><a id="report" class="anchor">#</a> Overall reports</a></h3>
        <table class="table table-striped">
            {% for mcp, value in mcp_overall.items() %}
            <tr>
                <td>{{ mcp }}</td>
                <td>{{ '{0:,}'.format(value) }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>Note: these are listed add-ons on AMO only. Hopefully unlisted can come soon. "undefined" refers to an error in the report. Other statuses are <a href="http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#feature-compatibility">documented</a>.
        <h3><a id="list" class="anchor">#</a> Top add-on list</a></h3>
        <p>As ranked by number of users.</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Compatible? [<a href="#footnote-1">1</a>]</th>
              <th>Shims [<a href="#footnote-2">2</a>]</th>
              <th>CPOW [<a href="#footnote-3">3</a>]</th>
              <th>Bugs [<a href="#footnote-4">4</a>]</th>
              <th>Featured? [<a href="#footnote-5">5</a>]</th>
           </tr>
         </thead>
         <tbody>
            {% for addon in addons %}
              <tr>
                <td><a class="anchor" href="#{{ addon.number }}">#</a> {% if addon.url %}<a id="{{ addon.number }}" href="{{ addon.url }}">{{ addon.name }}</a>{% else %}{{ addon.name }}{% endif %}<div class="addon-guid">{{ addon.guid }} &bull; {{ '{0:,}'.format(addon.users) }} users</div></td>
                <td class="label-wrapper"><span class="label label-{% if addon.status in ['compatible', 'compatible-webextension'] %}success{% elif addon.status == 'error' %}warning{% else %}info{% endif %}">{{ addon.status }}&nbsp;</span></td>
                <td class="label-wrapper">
                  {% if addon.shim %}
                      <table class="table table-bordered"> 
                       <tr>
                          <th>Version</th>
                          <th>Used</th>
                       </tr>
                       {% for version, shim in addon.shim.items() %}
                        <tr>
                          <td>{{ version }}</td>
                          <td>{% if shim %}Yes{% elif shim == False %}No{% else %}Unknown{% endif %}</td>
                        </tr>
                       {% endfor %}
                    </table>
                  {% endif %}
                </td>
                <td class="label-wrapper">
                  {% if addon.cpow %}
                    <table class="table table-bordered">
                      <tr>
                        <th>Version</th>
                        <th>Avg blocking CPOW calls per session hour</th>
                        <th>Avg ms per blocking</th>
                      </tr>
                       {% for version, cpow in addon.cpow.items() %}
                        <tr>
                          <td>{{ version }}</td>
                          <td>{{ '{0:,.2f}'.format(cpow.freq) }}</td>
                          <td>{{ '{0:,}'.format(cpow.time) }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                  {% endif %}
                </td>
                <td class="label-wrapper">{% for bug in addon.bugs %}<span class="label label-{% if bug.state == 'RESOLVED' %}success{% elif bug.state == 'REOPENED' %}warning{% elif bug.state == 'NEW' %}danger{% endif %}"><a href="{{ bug.url }}" title="Bug: {{ bug.state }}">{{ bug.id }}</a></span>&nbsp;{% endfor %}</td>
                <td class="label-wrapper">{% if addon.id in featured %}<span class="label label-success">Yes</span>{% else %}{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3><a id="footnotes" class="anchor">#</a> Footnotes</a></h3>
        <ol>
            <li><a id="footnote-1"></a>This is checking multi-process compat. flag in the add-on as listed on AMO. Error means its not listed on AMO.</li>
            <li><a id="footnote-2"></a>This is shim data returned to telemetry (see <a href="https://github.com/andymckay/new-arewee10syet.com">the python notebook</a>).</li>
            <li><a id="footnote-3"></a>This is CPOW data returned to telemetry (see <a href="https://github.com/andymckay/new-arewee10syet.com">the python notebook</a>).</li>
            <li><a id="footnote-4"></a>This is a manual list of bugs assigned to this addon in Bugzilla. Maintained in <a href="https://github.com/andymckay/new-arewee10syet.com">data.json</a>.</li>
            <li><a id="footnote-5"></a>Is this add-on featured, by checking the <a href="http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#featured">API</a></li>
        </ol>
      </div>
  </body>
</html>
